

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>First Blog</title>
        <hr>
        
    </head>
    <body>
        <div class="container">
            <h1>First Blog</h1>
        {% for post in posts %}
        <div class="posts"><h2>{{ post.title }}</h2>
            <h3>Posted on {{ post.timestamp }} by {{ post.author }}</h3>
            <p> {{ post.bodytext }}</p>
        </div>
        <hr>
        {% endfor %}

        </div>
      
    </body>
</html>